<ion-header color="" class="ion-align-self-center">
  <ion-toolbar color="danger">
    <ion-title class="ion-align-self-center" *ngIf="!isSearchbarOpened">
      
      <ion-text>
      <p class="ion-text-center">
        <ion-icon name="logo-electron"></ion-icon> cookBook9
      </p>
    </ion-text>
    </ion-title>

    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false" expand="full" color="warning"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="mainContent">
    <!-- fab placed to the top end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  color="danger" (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <ion-item class="inputs" >
    <ion-label position="fixed" color="danger"><ion-icon color="warning" name="pizza-outline" class="ion-text-capitalize"></ion-icon>Food</ion-label>
    <ion-input color="light" [(ngModel)]="newItem.title" placeholder="Name Eat!"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="fixedLabel" position="fixed" color="danger"><ion-icon color="warning" name="add-circle-outline"></ion-icon> Ingredients</ion-label>
    <ion-input color="light"  [(ngModel)]="newItem.ingredients" placeholder="Count Eat!"></ion-input>
  </ion-item>  
  
  <ion-item>
    <ion-label class="fixedLabel" position="fixed" color="danger"><ion-icon color="warning" name="alarm-outline"></ion-icon>Instructions</ion-label>
    <ion-input color="light"  [(ngModel)]="newItem.instructions" placeholder="Tell mEat!"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="fixedLabel" position="fixed" color="danger"><ion-icon color="warning" name="pulse-outline"></ion-icon>Nutrition</ion-label>
    <ion-input color="light"  [(ngModel)]="newItem.nutFacts" placeholder="Whatever...Eat!"></ion-input>
  </ion-item>  
  
  <ion-button  expand="block" (click)="addItem()" color="danger">
    <ion-icon name="pizza-outline"></ion-icon> &nbsp; FEED ME &nbsp; <ion-icon name="rocket-outline"></ion-icon>
  </ion-button>
 
<ion-list #myList>

    <ion-list-header>
      <ion-label>
        <ion-text color="danger">
          <!-- <h1><ion-icon name="pizza-outline" color="warningtertiary"></ion-icon>my preciousnesses<ion-badge color="warning">&gt; {{howMany}} &lt;</ion-badge></h1> -->
          <h1><ion-icon name="pizza-outline" color="warningtertiary"></ion-icon>my preciousnesses <ion-badge color="warning">{{howMany}}</ion-badge></h1>

        </ion-text>
      </ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of items">

      <ion-item>
        <ion-label class="ion-text-capitalize subTitles" text-wrap>
            <div class="title">{{ item.title }} <ion-badge (click)="openDetails(item)">Details</ion-badge></div>

            <p class="instructions">ingredients: </p>
            <div class="ingredientsSummary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.ingredients}}</div>

            <p>instructions:</p>
            <ion-text class="ion-text-wrap ion-text-justify" color="dark">
              <p class="instructions">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.instructions }}<br></p>
            </ion-text>

            <p>Nutrition Facts</p>
            <ion-text>
              <p class="nut">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.nutFacts }}</p>
            </ion-text>
            <p>{{ item.modified | date:'short'}}</p>


              <br>  
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="updateItem(item)">YUMPDATE</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">OOO! TRASH</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>

</ion-content>