<ion-header color="">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="mainContentDetail">

  <ion-card *ngIf="data" class="cardo">
      <ion-card-header>
        <ion-card-title>
           <p class="titleDetail"> {{data.title}} </p>
        </ion-card-title>
        <ion-card-subtitle>
          <p class="ingredientsDetail"> {{data.ingredients}}</p>
          <ion-item id="ingreds" color="dark" *ngFor="let i of ingArray">
            <ion-checkbox></ion-checkbox>
           &nbsp; &nbsp; {{i}}
          </ion-item>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-text class="ion-text-wrap ion-text-justify" color="light">
          <p style="font-size: 20px;">{{data.instructions}}</p>
        </ion-text>   
        </ion-item>
      </ion-card-content>
  </ion-card>

</ion-content>